*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial, sans-serif;
}

body{
background:#111;
color:white;
}

header{
background:#c62828;
padding:20px;
display:flex;
justify-content:space-between;
align-items:center;
}

nav a{
color:white;
margin-left:20px;
text-decoration:none;
}

.hero{
height:80vh;
display:flex;
flex-direction:column;
justify-content:center;
align-items:center;
text-align:center;
background:url('../images/banner.jpg') center/cover;
}

.hero h2{
font-size:3rem;
}

footer{
text-align:center;
padding:20px;
background:#000;
